<template name="admin">
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title">Admin Dashboard</h1>
        </section>
      </nav>
      {{> adminmenumain}}
      <section class="main-section">
        <div ui-view></div>
      </section>
      <a class="exit-off-canvas"></a>
      </div>
    </div>
</template>
