<template name="admindashboard">
  <section class="main-section">
    <!-- content goes here -->
    <div class="row">
      <div class="large-12 columns">
        <h2 class="text-center">Dashboard</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <div class="panel">
          <div class="row">
            <div class="large-12 columns">
              <h1  class="text-center"> <i class="fa fa-users"></i> Users</h1>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="large-6 columns">
              <a class="button expand" ng-href="/admin/addnewuser">Add new</a>
            </div>
            <div class="large-6 columns">
              <a class="button expand" ng-href="/admin/viewallusers">View all</a>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
          <div class="row">
            <div class="large-12 columns">
              <h1  class="text-center"><i class="fa fa-file-text"></i> Pages</h1>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="large-6 columns">
              <a class="button expand" ng-href="/admin/addnewpages">Add new</a>
            </div>
            <div class="large-6 columns">
              <a class="button expand" ng-href="/admin/viewallpagess">View all</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</template>
