/* Basic admin styles here */
.usertable{
  width: 100%;
}
select[multiple].adminmultiple,
select[size].adminmultiple {
  height: auto;
  background-image: none;
}
.list-group{
  list-style: none;
}
.btn.btn-primary.autoform-remove-item.pull-left{
  width: 20px;
  height: 20px;
  padding: 1px;
  margin: 0;
}
