<section class="main-section">
  <!-- content goes here -->
  <br>
  <br>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">Editing user "[[singleuser.profile.name]]"</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div data-alert class="alert-box" ng-class="alertclass" ng-show="showalert">
        <p>[[message]]</p>
        <a href="#" class="close">&times;</a>
      </div>
      <meteor-include src="edituser"></meteor-include>
    </div>
  </div>
</section>
