<section class="main-section">
  <!-- content goes here -->
  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center">All Media..</h2>
    </div>
    <table class="usertable" role="grid">
      <thead>
        <tr>
          <td>Title</td>
          <td>Route</td>
          <td>Edit</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="singlefile in mediascope track by $index">
          <td>[[singlefile._id]]</td>
          <td><a href="[[singlefile.original]]"><img src="[[singlefile.thumb]]" /></a></td>
          <td><a href="/admin/editmedia/[[singlefile._id]]">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
