<section class="main-section">
  <!-- content goes here -->
  <br>
  <br>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">"{{singlepage[0].title}}"</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div data-alert class="alert-box" ng-class="alertclass" ng-show="showalert">
        <p>{{message}}</p>
        <a href="#" class="close">&times;</a>
      </div>
      <meteor-include src="editpage"></meteor-include>
    </div>
  </div>
</section>
